# /etc/haproxy/haproxy.cfg
global
        user {{ common.app_user }}
        group {{ common.app_user }}

defaults
        mode http
        option forwardfor
        option redispatch
        retries 3
        maxconn 2000
        contimeout 5000
        clitimeout 30000
        srvtimeout 30000

frontend 0.0.0.0:80
        bind *:80
        # redirect scheme https if !{ ssl_fc }

        http-response set-header X-XSS-Protection: 1;mode=block
        http-response set-header Strict-Transport-Security max-age=16000000;\ includeSubDomains;\ preload;
        http-response set-header X-Frame-Options SAMEORIGIN
        http-response set-header Referrer-Policy no-referrer-when-downgrade
        http-response set-header X-Content-Type-Options nosniff

        acl is_<LOCATION>   hdr_end(host) -i <LOCATION>.com
        use_backend  <LOCATION>  if is_<LOCATION>

backend <LOCATION>
    balance     roundrobin
    server      <LOCATION>  127.0.0.1:8081
